<!DOCTYPE html>
<html>
<head>
    <title>EZRide</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <script type="text/javascript" href="../js/login.js"></script>
    <link rel="shortcut icon" href="../../public/images/shortcut_icon.png">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/login.js"></script>
</head>
<body>
    <div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="../../public/images/avatar_2x.png" />
            <p id="profile-name" class="profile-name-card"></p>
                <form class="form-signin" action="../php/login.php" method="POST">
                    <div id="username-div" class="form-group has-feedback">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Username" required autofocus>
                        <span id="username-span" class="glyphicon form-control-feedback"></span>
                    </div>
                    <div id="password-div" class="form-group has-feedback">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                        <span id="password-span" class="glyphicon form-control-feedback"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="login" id="login-btn" value="Sign-in" class="btn btn-success">
                        <input type="button" name="cancel" value="Cancel" class="btn btn-primary" onclick="location.href='../../index.php'">
                    </div>
            </form><!-- /form -->
            <a href="register.html">
                New User?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>
