<!DOCTYPE html>
<html>
<head>
    <title>EZRide</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
    <link rel="shortcut icon" href="../../public/images/shortcut_icon.png">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/register.js"></script>
</head>
<body>
    <div class="container">
    <div id="register-form" class="card card-container">
            <p id="profile-name" class="profile-name-card"></p>
                <form class="form-horizontal" action="../php/register.php" method="POST">
                    <h3>
                    <span class="glyphicon glyphicon-user"></span>
                    New Account</h3><br>
                    <div id="name-div" class="form-group has-feedback">
                        <div class="col-sm-6">
                        <input type="text" name="fname" id="fname" class="form-control" placeholder="First Name" required>
                        <span id="fname-span" class="glyphicon form-control-feedback"></span>
                        </div>
                        <div class="col-sm-6">
                        <input type="text" name="lname" id="lname" class="form-control" placeholder="Last Name" required>
                        <span id="lname-span" class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div id='address-div' class="form-group has-feedback">
                        <div class="col-sm-12">
                            <input id="address" type="text" name="address" placeholder="Address" class="form-control" required>
                            <span id="address-span" class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div id="username-div" class="form-group has-feedback">
                        <div class="col-sm-12">
                        <input type="text" name="username" id="username" class="form-control" placeholder="Set Username" required>
                        <span id="username-span" class="glyphicon form-control-feedback"></span>
                        <span id="username-available" class="control-label"></span>
                        </div>
                    </div>
                    <div id="password-div" class="form-group has-feedback">
                        <div class="col-sm-12">
                        <input type="password" name="password" id="password" class="form-control" placeholder="Set Password" required>
                        <span id="password-span" class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>
                    <div id="confirm-password-div" class="form-group has-feedback">
                        <div class="col-sm-12">
                        <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password" required>
                        <span id="confirm-password-span" class="glyphicon form-control-feedback"></span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-6">
                            <input id="register-btn" class="btn btn-success col-sm-12" type="submit" name="register-btn" value="Register">
                        </div>
                        <div class="col-sm-6">
                            <a href="../../index.php">
                                <button class="btn btn-primary col-sm-12" type="button">Cancel</button>
                            </a>
                        </div>
                    </div>
            </form><!-- /form -->
            <a href="login.html">
                Already a user?
            </a>
        </div><!-- /card-container -->
    </div><!-- /container -->
</body>
</html>
